<ion-header>
  <ion-toolbar>
    <ion-title>
      Trending
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let repo of repos" class="welcome-card">
    <ion-img src={{repo.avatar}} alt=""></ion-img>
    <ion-card-header>
      <ion-card-subtitle>{{repo.author}}</ion-card-subtitle>
      <ion-card-title>{{repo.name}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{repo.description}}</p>
      <ion-toolbar>
        <ion-chip [ngStyle]="{'background-color': repo.languageColor}">
          <ion-label>{{repo.language}}</ion-label>
        </ion-chip>
        <ion-chip>
          <ion-label>{{repo.stars}}</ion-label>
          <ion-icon name="star"></ion-icon>
        </ion-chip>
        <ion-chip>
          <ion-label>{{repo.forks}}</ion-label>
          <ion-icon name="shuffle"></ion-icon>
        </ion-chip>
      </ion-toolbar>
    </ion-card-content>
  </ion-card>
</ion-content>